<div class="card text-center"
  style="width: 25rem; height: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

  <div class="card-title pt-3 pb-2 mb-4 bg-primary text-light">
    <h4>
      Rocker's to-do list
    </h4>
  </div>

  <div class="card-text text-black-50 mx-3" style="position: relative;">
    <div class="row">
      <div class="col-2">
        <input type="checkbox">
      </div>
      <div class="col-8">
        Estudar Angular
      </div>
      <div class="col-2">
        <img src="../../assets/Vector.svg" style="width: 15px;">
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-primary" style="width: 80%; position: absolute; top: 95%; left: 10%;">
    Digite sua nova taks aqui...
  </a>

</div>
